@import url('../libraries/font.css');

.navbarCSS .navbar {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.navbarCSS .navbar .search-form {
    margin-top: 5px;
    margin-right: 10px;
}

.navbarCSS .navbar .btn {
    color: black;
}

.navbarCSS .navbar .btn:hover {
    background-color: black;
    color: white;
}

.navbarCSS .navbar .active {
    font-weight: bold;
}