@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.navbar {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.navbar .search-form {
    margin-top: 5px;
    margin-right: 10px;
}

.navbar .btn {
    color: black;
}

.navbar .btn:hover {
    background-color: black;
    color: white;
}

.navbar .active {
    font-weight: bold;
}