@import url('../libraries/font.css');

.imgDiv {
    width: 17vw;
    height: 17vw;
    background-size: cover;
    background-position: center center;
    margin: 0.3vw;
}

.imgDiv:hover {
    cursor: pointer;
    width: 17.3vw;
    height: 17.3vw;
    margin: 0.15vw;
}

.photosPage {
    font-family: 'Open Sans', sans-serif;
    width: 90vw;
    margin: auto;
}

#photos p {
    margin: 0.3vw;
    font-size: 20px;
}

#photos hr {
    margin: 0.3vw;
    background-color: DDDDDD;
}

.tagsText {
    padding: 0;
    margin: 5px 3px;
    flex: 0 0 170px;
}

.tagsCol {
    padding: 0;
    margin: 5px 3px;
    display: flex;
    align-items: center;
    flex: 0 0 0;
}

.tagButton {
    background-color: 212529;
    color: FBF9F9;
    border-radius: 20px;
    border: 1px solid #212529;
    padding: 0px 15px;
    font-size: 20px;
    text-align: center;
}

.tagButton-disabled {
    background-color: FBF9F9;
    color: black;
}

.tagButton:hover {
    background-color: 585858;
}

#tags h1 {
    font-size: 25px;
    margin: 5px 2px;
    padding-right: 5px;
}

.dropdown {
    text-align: right;
    padding: 0;
    margin: 5px 3px;
    display: flex;
    align-items: center;
    flex: 0 0 0;
}

#sortBySelector {
    width: 220px;
}

.mainDivider {
    margin: 0.3vw;
    background-color: black;
    color: black;
    height: 2px;
    opacity: 100%;
}

#detailsModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#detailModalContent {
    background-color: #fefefe;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 50vw;
    border-radius: 10px;
}

#detailsImage {
    width: 100%;
    height: 100%;
    margin: 0.3vw;
}

.detailsLabel {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.detailsField {
    float: right;
    margin-left: 20px;
}

.detailsTags {
    padding: 0;
    margin: 5px 3px;
    display: flex;
    align-items: center;
    flex: 0 0 0;
}

.detailsTagButton {
    background-color: #212529;
    color: FBF9F9;
    border-radius: 20px;
    border: 1px solid #212529;
    padding: 0px 15px;
    font-size: 20px;
    text-align: center;
}

#detailsClose {
    float: right;
}