/* The Modal (background) */
.navbarCSS .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.navbarCSS .modal-content {
  background-color: #fefefe;
  margin: 7% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50vw; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.navbarCSS .modal .close {
  /* color: #777f87; */
  float: right;
  font-size: 1.5vw;
}

.navbarCSS .modal .mainDivider {
  margin: 0.3vw;
  background-color: DDDDDD;
}

.navbarCSS .modal .uploadForm {
  margin-top: 4vh;
  margin-bottom: 1vh;
}

.navbarCSS .modal .suggestedTagButton {
  background-color: #212529;
  color: FBF9F9;
  border-radius: 20px;
  border: 1px solid #212529;
  padding: 0px 15px;
  font-size: 20px;
  text-align: center;
}

.navbarCSS .modal .suggestedTagButton:hover {
  background-color: #585858;
}

.navbarCSS .modal .suggestedTags {
  padding: 0;
  margin: 5px 3px;
  display: flex;
  align-items: center;
  flex: 0 0 0;
}

.navbarCSS .modal .buttonsRow {
  padding-top: 4vh;
}

.navbarCSS .modal .cropResize {
  padding: 0;
  margin: 5px 2vh;
  display: flex;
  align-items: center;
  flex: 0 0 0;
}

.navbarCSS .modal .actionButtons {
  background-color: #212529;
  color: #ffffff;
  border-radius: 20px;
  border: 1px solid #212529;
  padding: 0px 15px;
  font-size: 20px;
  text-align: center;
}

.navbarCSS .modal .preview-img {
  margin-left: auto;
  margin-right: auto;
  height: 15vw;
  width: 15vw;
}

.navbarCSS .modal .preview-img img{
  /* width: 100%;
  height: 100%; */
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: 1px solid #212529;
}

.navbarCSS .modal .imageEdit {
  padding-top: 1vh;
}

.navbarCSS .modal .imageButtons {
  padding: 0;
  margin: 5px 2vh;
  display: flex;
  align-items: center;
  flex: 0 0 0;
}

.navbarCSS #crop {
  height: 5vh;
  width: 5vh;
  padding: 5px 5px;
  border: 1px solid #212529;
  border-radius: 50%;
}

.navbarCSS #resize {
  height: 5vh;
  width: 5vh;
  padding: 5px 5px;
  border: 1px solid #212529;
  border-radius: 50%;
}

.navbarCSS #newTags {
  margin-top: 1vh;
  overflow-y: auto;
  height: 7vh;
  border: 1px solid #DDDDDD;
}

.navbarCSS .modal .newTag {
  background-color: 212529;
  color: FBF9F9;
  border-radius: 20px;
  border: 1px solid #212529;
  padding: 0px 15px;
  font-size: 20px;
  text-align: center;
}

.navbarCSS .modal .newTag:hover {
  background-color: #ff3939;
}

.navbarCSS .modal .newTagCol {
  padding: 0;
  margin: 5px 3px;
  display: flex;
  align-items: center;
  flex: 0 0 0;
}

.navbarCSS #date {
  width: 60%;
}

.navbarCSS #name {
  width: 60%;
}

.navbarCSS .modal input {
  border-radius: 10px;
}

.navbarCSS #previewImg {
  border-radius: 10px;
}

.navbarCSS #newTags {
  border-radius: 10px;
}

