/* Import Google font - Poppins */
@import url('./libraries/font2.css');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', sans-serif;
}
body{
  display: flex;
  padding: 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}